html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.markdown {
  line-height: 1.5;
  font-size: 1.1rem;
  /*padding-left: 1rem;*/
  /*padding-right: 1rem;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.markdown a {
  color: #4299e1;
  margin-bottom: 1rem;
  font-weight: bold;
}

.markdown ul {
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

.markdown li {
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

.markdown img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

